@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0px;
}

nav {
  background: linear-gradient(#ecd981, #f5ebc9);
  list-style-type: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 185px;
  font-family: "Kiwi Maru", sans-serif;
}

.logo-image {
  width: 100px;
  height: 100px;
  border-radius: 70%;
  overflow: hidden;
  padding: 20px;
}

#main-doc {
  margin-left: 185px;
  width: auto;
}

.nav-header {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.nav-link {
  width: 100%;
  color: black;
}

.nav-box {
  padding-left: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav-box:hover {
  background: #e7c631;
}

a {
  text-decoration: none;
}

header {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.gray-background {
  background: #e8e8e8;
  width: auto;
  padding: 3vw;
}

.white-background {
  background: #fffcfc;
  width: auto;
  padding: 3vw;
}

h1 {
  padding: 3vw;
  font-size: 2em;
}

#home {
  text-align: center;
}
p,
li,
h1 {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.code-container {
  background: #d6c45a;
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.line-break {
  background: #d6c45a;
  border-radius: 2px;
  padding: 0.4em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-right: 0.4em;
  
}

@media (max-width: 500px) {
  #main-doc {
    margin-left: 130px;
  }
  nav {
    width: 130px;
  }
  .nav-box {
    padding-left: 0.4em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
}
